Yqun.BO.BusinessManager/Service References/EMCServiceReference/DataInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="DataInterface" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDataInterface_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.railwaycmpl.com/DataIntService/DataInterface.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.railwaycmpl.com/DataIntService/DataInterface.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.railwaycmpl.com/DataIntService/DataInterface.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataInterfaceSln" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataInterface_UploadPressureData_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPressureData" />
  </wsdl:message>
  <wsdl:message name="IDataInterface_UploadPressureData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPressureDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataInterface_UploadUniversalData_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadUniversalData" />
  </wsdl:message>
  <wsdl:message name="IDataInterface_UploadUniversalData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadUniversalDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataInterface_UploadMixmachineData_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadMixmachineData" />
  </wsdl:message>
  <wsdl:message name="IDataInterface_UploadMixmachineData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadMixmachineDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataInterface">
    <wsdl:operation name="UploadPressureData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataInterface/UploadPressureData" message="tns:IDataInterface_UploadPressureData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataInterface/UploadPressureDataResponse" message="tns:IDataInterface_UploadPressureData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadUniversalData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataInterface/UploadUniversalData" message="tns:IDataInterface_UploadUniversalData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataInterface/UploadUniversalDataResponse" message="tns:IDataInterface_UploadUniversalData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadMixmachineData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataInterface/UploadMixmachineData" message="tns:IDataInterface_UploadMixmachineData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataInterface/UploadMixmachineDataResponse" message="tns:IDataInterface_UploadMixmachineData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDataInterface" type="tns:IDataInterface">
    <wsp:PolicyReference URI="#WSHttpBinding_IDataInterface_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadPressureData">
      <soap12:operation soapAction="http://tempuri.org/IDataInterface/UploadPressureData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadUniversalData">
      <soap12:operation soapAction="http://tempuri.org/IDataInterface/UploadUniversalData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMixmachineData">
      <soap12:operation soapAction="http://tempuri.org/IDataInterface/UploadMixmachineData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataInterface">
    <wsdl:port name="WSHttpBinding_IDataInterface" binding="tns:WSHttpBinding_IDataInterface">
      <soap12:address location="http://www.railwaycmpl.com/DataIntService/DataInterface.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://www.railwaycmpl.com/DataIntService/DataInterface.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>