Yqun.BO.BusinessManager/Service References/EMCServiceReference/DataInterface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.railwaycmpl.com/DataIntService/DataInterface.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataInterfaceSln" />
  <xs:element name="UploadPressureData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataInterfaceSln" minOccurs="0" name="pressure" nillable="true" type="q1:PressureData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPressureDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadPressureDataResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadUniversalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataInterfaceSln" minOccurs="0" name="universal" nillable="true" type="q2:UniversalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadUniversalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadUniversalDataResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMixmachineData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataInterfaceSln" minOccurs="0" name="universal" nillable="true" type="q3:MixmachineData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMixmachineDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadMixmachineDataResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>