Yqun.BO.BusinessManager/Service References/GetDataFromEMC/GetDataInterval.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="GetDataInterval" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.railwaycmpl.com:1618/LabManagerAll/GetDataInterval.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.railwaycmpl.com:1618/LabManagerAll/GetDataInterval.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGetDataInterval_GetBHZInfoData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBHZInfoData" />
  </wsdl:message>
  <wsdl:message name="IGetDataInterval_GetBHZInfoData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBHZInfoDataResponse" />
  </wsdl:message>
  <wsdl:message name="IGetDataInterval_GetLabData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLabData" />
  </wsdl:message>
  <wsdl:message name="IGetDataInterval_GetLabData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLabDataResponse" />
  </wsdl:message>
  <wsdl:message name="IGetDataInterval_GetPressureData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPressureData" />
  </wsdl:message>
  <wsdl:message name="IGetDataInterval_GetPressureData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPressureDataResponse" />
  </wsdl:message>
  <wsdl:message name="IGetDataInterval_GetUniversalData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUniversalData" />
  </wsdl:message>
  <wsdl:message name="IGetDataInterval_GetUniversalData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUniversalDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IGetDataInterval">
    <wsdl:operation name="GetBHZInfoData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetDataInterval/GetBHZInfoData" message="tns:IGetDataInterval_GetBHZInfoData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetDataInterval/GetBHZInfoDataResponse" message="tns:IGetDataInterval_GetBHZInfoData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLabData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetDataInterval/GetLabData" message="tns:IGetDataInterval_GetLabData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetDataInterval/GetLabDataResponse" message="tns:IGetDataInterval_GetLabData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPressureData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetDataInterval/GetPressureData" message="tns:IGetDataInterval_GetPressureData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetDataInterval/GetPressureDataResponse" message="tns:IGetDataInterval_GetPressureData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUniversalData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetDataInterval/GetUniversalData" message="tns:IGetDataInterval_GetUniversalData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetDataInterval/GetUniversalDataResponse" message="tns:IGetDataInterval_GetUniversalData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGetDataInterval" type="tns:IGetDataInterval">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBHZInfoData">
      <soap:operation soapAction="http://tempuri.org/IGetDataInterval/GetBHZInfoData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabData">
      <soap:operation soapAction="http://tempuri.org/IGetDataInterval/GetLabData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPressureData">
      <soap:operation soapAction="http://tempuri.org/IGetDataInterval/GetPressureData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUniversalData">
      <soap:operation soapAction="http://tempuri.org/IGetDataInterval/GetUniversalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetDataInterval">
    <wsdl:port name="BasicHttpBinding_IGetDataInterval" binding="tns:BasicHttpBinding_IGetDataInterval">
      <soap:address location="http://www.railwaycmpl.com:1618/LabManagerAll/GetDataInterval.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>