TestDataUploadWS/Service References/WLMQXinKeZhanSR/DataTransport1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReciveTestData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testdata" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="ksign" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jsdwCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveTestDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReciveTestDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>