Yqun.BO.BusinessManager/Service References/LabMS/LabManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.railwaycmpl.com:1620/LabWebService/LabManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MixstationLibraryDMS.LabWCFService" />
  <xs:element name="UploadPressureData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MixstationLibraryDMS.LabWCFService" minOccurs="0" name="pressure" nillable="true" type="q1:PressureData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPressureDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadPressureDataResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadUniversalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MixstationLibraryDMS.LabWCFService" minOccurs="0" name="universal" nillable="true" type="q2:UniversalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadUniversalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadUniversalDataResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabDocBasicInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MixstationLibraryDMS.LabWCFService" minOccurs="0" name="labdata" nillable="true" type="q3:LabDocBasicInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabDocBasicInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadLabDocBasicInfoResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabDocContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docContext" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabDocContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadLabDocContentResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthentificationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysbm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthentificationUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthentificationUserResult" type="xs:int" />
        <xs:element minOccurs="0" name="jsonUserinfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPressureDataDES">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcardnum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="d" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPressureDataDESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadPressureDataDESResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadUniversalDataDES">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcardnum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jsonUniversal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadUniversalDataDESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadUniversalDataDESResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabDocBasicInfoDES">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcardnum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jsonLabdata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabDocBasicInfoDESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadLabDocBasicInfoDESResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabDocContentDES">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcardnum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jsonLabDocContent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabDocContentDESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadLabDocContentDESResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthentificationFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthentificationFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthentificationFileResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MixstationLibraryDMS.LabWCFService" minOccurs="0" name="labdata" nillable="true" type="q4:LabDocBasicInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadLabMessageResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabMessageWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MixstationLibraryDMS.LabWCFService" minOccurs="0" name="labdata" nillable="true" type="q5:LabDocBasicInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabMessageWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadLabMessageWebResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dmtype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xlbh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wtbh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLabStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadLabStatusResult" type="xs:int" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>